.has-error,
.error {
	color: #fb5f5c;
	font-size: 11px;
	font-family: verdana;
}

.panel-title {
	text-transform: uppercase;
	font-weight: bold;
	color: gray;
}

.fade-scale {
	transform: scale(0);
	opacity: 0;
	-webkit-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
}

.fade-scale.in {
	opacity: 1;
	transform: scale(1);
}

.panel-title button {
	margin-left: 20px;
}

.sidebar-menu>li {
	position: relative;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #F0F0F0;
}

.skin-red-light .main-header .navbar {
	background-color: #ff7070;
}

.skin-red-light .main-header .logo {
	background-color: #ff7070;
}

.skin-red-light .main-header .logo:hover {
	background-color: #ff7070;
}

.skin-green-light .sidebar-menu>li>a {
	border-left: 5px solid #fb8b8b;
	font-weight: normal;
}

.skin-green-light .sidebar-menu>li>a:hover {
	border-left: 7px solid #28b06b;
	font-weight: normal;
}

.skin-green-light .sidebar-menu>li.active a {
	border-left: 5px solid #28b06b;
	font-weight: normal;
}

.skin-red-light .sidebar-menu>li.active a {
	border-left: 5px solid red;
	font-weight: normal;
}

.skin-red-light .sidebar-menu>li>a:hover {
	border-left: 5px solid #fb8b8b;
	font-weight: normal;
}

.skin-red-light .sidebar-menu>li>a {
	border-left: 3px solid transparent;
	font-weight: normal;
}

thead,
tfoot {
	background: #EDEDED;
	color: #565656;
}

.text_filter {
	width: 70%;
	min-width: 500px;
}

.select2-container {
	width: 100% !important;
	padding: 0px;
}

.select2 {
	line-height: 30pt;
	padding-right: 20pt;
	text-indent: 4pt;
	text-align: left;
	vertical-align: middle;
	box-shadow: inset 0 0 3px #606060;
	border: 0px solid #acacac;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/*IMPORTANT*/
	font-family: Arial, Calibri, Tahoma, Verdana;
	font-size: 11pt;
	font-weight: 500;
	color: #000099;
	cursor: pointer;
	outline: none;
}

.select2-dropdown {
	background-color: #fffcf1;
	border: 0px solid #aaa;
	border-radius: 4px;
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 100%;
	z-index: 1051;
	padding: 1px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #1daee2;
	color: white;
}

.select2-container--default {
	color: #1daee2;
	font-size: 14px;
}

.select2-selection--single {
	border: 1px solid #aaa;
	border-radius: 4px;
	min-height: 35px;
}

.select2-results__options {
	list-style: none;
	font-size: 12px;
}

.hilight {
	background-color: rgba(255, 255, 255, 0.95);
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.18);
	opacity: 0.90;
	font-family: Verdana, Geneva, sans-serif;
	bottom: 0px;
	z-index: 9999;
	margin-top: -60px;
	padding: 10px;
}

.progress {
	float: left;
	position: relative;
	width: 100%;
	height: 30px;
	margin: 10px auto;
	border: 1px solid #DDD;
	padding: 5px;
	border-radius: 3px;
}

.bar {
	background: #12CC1A;
	height: 20px;
	width: 0%;
	/* transition animation */
	-webkit-transition: width .3s;
	-moz-transition: width .3s;
	transition: width .3s;
}

.percent {
	position: absolute;
	display: inline-block;
	top: 6px;
	left: 48%;
	color: #333;
}

.tooltip {
	position: fixed;
}

.modal-header {
	background-color: rgba(206, 206, 206, 0.18);
	color: #787878;
	font-weight: bold;
}

.modal-body {
	background-color: rgba(245, 245, 245, 0.2);
}

.modal-footer {
	background-color: rgba(225, 225, 225, 0.8)
}

.modal-header .close {
	margin-top: -3px;
	color: #000;
	background: #fff;
	padding: 3px 7px;
	font-weight: bold;
	opacity: 0.6;
	border: 0;
	border-radius: 5px;
}

.modal-header .close:hover {
	margin-top: -2px;
	color: #000;
	background: cornsilk;
	padding: 3px 7px;
	font-weight: bold;
	opacity: 0.9;
	border: 0;
}

.modal {
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
}

.footer {
	bottom: 0;
}

label {
	font: 600 13px/14px 'Open Sans', sans-serif;
	color: rgb(95, 95, 95);
}

.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
	background: #846733;
}

.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
	color: #FFFFFF;
	background: #846733;
}

.ui-datepicker table {
	width: 100%;
	font-size: .7em;
	border-collapse: collapse;
	font-family: verdana;
	margin: 0 0 .4em;
	color: #000000;
	background: #FDF8E4;
}

.ui-datepicker td {
	border: 0;
	padding: 1px;
}

.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .8em;
	text-align: right;
	text-decoration: none;
}

.datepicker {
	z-index: 111151 !important;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
	#loginForm {
		margin-top: 160px;
	}
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
	#loginForm {
		margin-top: 160px;
		width: 50%;
		margin-left: 150px;
	}
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
	#loginForm {
		margin-top: 200px;
		width: 100%;
		margin-left: 0px;
	}
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
	#loginForml {
		margin-top: 200px;
		width: 100%;
		margin-left: 0px;
	}
}

/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
	#loginForm {
		margin-top: 200px;
		width: 100%;
	}
}

#disqus_thread {
	position: relative;
}

#disqus_thread:after {
	content: "";
	display: block;
	height: 55px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background: white;
}

.acceptance-wrapper {
	display: none;
}